<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <script src="https://cdn.tailwindcss.com"></script>

        <title>TFIDF Search Engine</title>
    </head>

    <body>
        <h1 class="text-4xl font-semibold text-center py-6 flex flex-col">TF-IDF Search engine</h1>
        <div class="w-full flex justify-center items-center" >
            <form  class="w-1/2 flex justify-evenly" method="post" action=".">
                {% csrf_token %}
    
                <input required id="search" name="search" type="text" value="{{ searchVal }}" class="w-[80%] mx-auto px-6 py-3 border border-black rounded-xl" />
    
                <button type="submit" class="border py-2 px-5 text-lg text-white bg-black hover:text-black hover:bg-white hover:border-black rounded-xl text-white">Search</button>
    
            </form>
        </div>
        
        {% for scores in tfidf_scores %}
            <div class="px-6 py-6 border-b border-gray-200 w-[80%] mx-auto">
                <h2 class="text-2xl font-semibold">{{ scores.title }} <span class="text-sm">({{ scores.rank }} , {{scores.path}})</span></h2>
                <p class="text-lg text-gray-500">{{ scores.content }}</p>
            </div>
        {% endfor %}



    </body>
</html>